SetEnv GHOST_NODE_VERSION_CHECK false
PassengerStartupFile dist/server/server.js
PassengerResolveSymlinksInDocumentRoot on
Require all granted
PassengerAppType node
PassengerAppRoot /home/a0571760/domains/making-web.ru/public_html/pomodoro/
Options -MultiViews